- if @post.already_favorited?(current_user)
  %p.favorite-heading
     保存をキャンセル
   = link_to post_favorites_path(@post), method: :delete, class: "favorite-link" do
     = icon("fas", "star", class: "favorite-icon")
- else
  %p.favorite-heading
     イベントを保存
   = link_to event_favorites_path(@event), method: :post, class: "favorite-link" do
     = icon("far", "star", class: "favorite-icon")