.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
  margin-right: 4vw;
  width: 185px;
  height: 49px;
  font-size: 3vw;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
}