<header class='second-header'>
  <%# <%= link_to image_tag("furima-logo-color.png", class:"second-logo"), "/" %>
      <%# <div class="second-logo">Go!Futbol!! %>
      <%= link_to 'Go!Futbol!', root_path, class:"second_app_logo"%>
      <%= image_tag "トロフィー.png", class:"トロフィーicon" %>
      <%# </div> %>

</header>