<header class='second-header'>
  <%# <%= link_to image_tag("furima-logo-color.png", class:"second-logo"), "/" %>
      <div class="second-logo">Go!Futbol!!
      <%= image_tag "トロフィー.png", class:"トロフィーicon" %>
      </div>

</header>