<footer class='second-fotter'>
      <div class="second-footer-logo">
        <%# <%= link_to 'Go!Futbol!', root_path, class:"second_footer_app_logo"%>
        <%# <%= image_tag "トロフィー.png", class:"トロフィーicon" %>
      </div>

</footer>