.mypage-nickname{
  text-align: center;
  font-weight: bold;
  color: gray;
  font-size: large;
  margin: 3vh;
}

.post-image{

}

.mypage-info{
color: black;
margin-left: 3vw;
margin-bottom: 5vh;
}

